.git
.github
.env
.env.*
node_modules
vendor
tests
deploy
docker-compose.yml
.dockerignore

public/build
public/hot
public/storage
public/adminer.php

storage/app
storage/logs
storage/framework
storage/*.key
bootstrap/cache
database/database.sqlite
*.log
